{% extends "base_generic.html" %}

{% block title %}
<title>HomePage</title>
{% endblock %}

{% block style %}
<style>

.merge{     position: relative; }
.merge .search{ position:absolute; right:0px;}

</style>
{% endblock %}


{% block content %}


<h1>Q{{ question.id }} {{ question.question_text }}</h1>

    <form action="{% url 'ask_me:approve' question.id %}" method="post">
        {% csrf_token %}
        {% for answers in question.answer_set.all %}
            <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answers.id }}">
            <label for="answer{{ forloop.counter }}">{{ answers.answer }}</label><br>
        {% endfor %}
        <input type="submit" value="Approve" style="margin-top: 10px;">
    </form>

{% endblock %}